<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<base target="_blank">

	<title class="pageTitle">{{ site.page_title }}</title>
	<meta name="description" content="Free calorie counter and food diary app. Lilbite is your digital diet assistant for weight loss. Our calorie counter is easy to use, and the application goes way beyond that. Try Lilbite today!">
	<meta name="keywords" content="calorie counter, calorie tracker, food diary, weight loss, diet journal, healthy recipes, how to lose weight, health, nutrition facts, weight loss online, free calorie counter, lose weight, diet, fitness, workout, exercise, cardio, iphone, android, iOS, samsung, barcode, calories, step counter, app, gain weight, diabetes">
	<link rel="shortcut icon" href="{{ site.app_icon }}">

	<!-- Smart App Banner -->
	{% if site.enable_smart_app_banner %}
	<meta name="apple-itunes-app" content="app-id={{ site.ios_app_id }}">
	{% endif %}

	<!-- The core Firebase JS SDK is always required and must be listed first -->
	<script src="https://www.gstatic.com/firebasejs/7.22.0/firebase-app.js"></script>

	<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
	<script src="https://www.gstatic.com/firebasejs/7.22.0/firebase-analytics.js"></script>

	<script>
		// Your web app's Firebase configuration
		// For Firebase JS SDK v7.20.0 and later, measurementId is optional
		var firebaseConfig = {
			apiKey: "AIzaSyCdLDef8AeM1NfwumAHGBw7o26xkpviMl4",
			authDomain: "lilbite-website.firebaseapp.com",
			databaseURL: "https://lilbite-website.firebaseio.com",
			projectId: "lilbite-website",
			storageBucket: "lilbite-website.appspot.com",
			messagingSenderId: "314724863604",
			appId: "1:314724863604:web:03bb3c7d75f013ef394b21",
			measurementId: "G-0F7NMKRJJT"
		};
		// Initialize Firebase
		firebase.initializeApp(firebaseConfig);
		firebase.analytics();
	</script>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
		integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="/main.css">
	<link rel="stylesheet" href="main.css">
	<link rel="stylesheet" href="../main.css">
</head>